*.torrent
Project/.idea/workspace.xml
Project/__pycache__/functions.cpython-36.pyc
Project/downloadLogs/
AnimeDL GUI/AnimeDL GUI/bin/Debug/animeList.txt
AnimeDL GUI/AnimeDL GUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AnimeDL GUI/AnimeDL GUI/bin/Debug/AnimeDL GUI.pdb
AnimeDL GUI/AnimeDL GUI/bin/Debug/AnimeDL GUI.exe
AnimeDL GUI/AnimeDL GUI/AnimeDL GUI.csproj
AnimeDL GUI/AnimeDL GUI.sln
AnimeDL GUI/.vs/AnimeDL GUI/v15/Server/sqlite3/storage.ide-wal
AnimeDL GUI/.vs/AnimeDL GUI/v15/Server/sqlite3/storage.ide-shm
AnimeDL GUI/AnimeDL GUI/obj/Debug/AnimeDL GUI.csproj.GenerateResource.cache
AnimeDL GUI/AnimeDL GUI/obj/Debug/AnimeDL GUI.csproj.FileListAbsolute.txt
AnimeDL GUI/AnimeDL GUI/obj/Debug/AnimeDL GUI.csproj.CoreCompileInputs.cache
AnimeDL GUI/.vs/AnimeDL GUI/v15/Server/sqlite3/storage.ide
AnimeDL GUI/.vs/AnimeDL GUI/v15/.suo
AnimeDL GUI/AnimeDL GUI/obj/Debug/AnimeDL GUI.pdb
AnimeDL GUI/AnimeDL GUI/obj/Debug/AnimeDL GUI.exe
AnimeDL GUI/AnimeDL GUI/bin/Debug/configuration.json
